* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Amiko', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: palevioletred;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.menu-transition-enter-active{
  color: palevioletred;
}

.menu-transition-exit-active{
  color: darkred;
}